body {
    background-image: url(backgroundImges/lord3.4.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: 100vw 100vh;
    font-family: "Cinzel Decorative", serif;
    font-weight: 400;
    font-style: normal;
    
}

#title34{
    color: rgb(240, 185, 45);/* Text color */
    text-align: center;
    font-family: "Cinzel Decorative", serif;
    font-weight: 400;
    font-size: 48px; /* Adjust the font size as needed */
             text-shadow: 
                 2px 2px 0px black, /* Right shadow */
                 -2px 2px 0px black, /* Left shadow */
                 2px -2px 0px black, /* Top shadow */
                 -2px -2px 0px black, /* Bottom shadow */
                 2px 0px 0px black, /* Right middle shadow */
                 -2px 0px 0px black, /* Left middle shadow */
                 0px 2px 0px black, /* Bottom middle shadow */
                 0px -2px 0px black; /* Top middle shadow */
 }

 .p34 {
    font-size: larger;
    text-align: center;
    border-style: solid;
    border-width: 5px;
    background: rgba(82, 38, 19, 0.7); /* צבע חום עם שקיפות */
    color: rgb(240, 185, 45); /* צבע טקסט זהב */
    font-family: "Cinzel Decorative", serif;
    padding: 10px; /* מרווח פנימי */
    display: inline-block; /* מאפשר לאלמנט להיות ברוחב הטקסט בלבד */
    position: absolute;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* CSS */
img {
    width: 350px;
    height: 450px;
    transition: transform 0.2s;
    
  }
  
  img:active {
    transition: transform 0.2s;
    transform: scale(0.9);
  }
  

.centerImges{
    position: absolute;
    bottom: 20px; /* מרחק מהקצה התחתון של המסך */
    left: 50%;
    transform: translateX(-50%);
    display: flex;
    justify-content: center;
    gap: 20px; /* מרווח בין התמונות */
}

.b34 {
    display: inline-block;
    padding: 10px 20px;
    font-size: 16px;
    text-align: center;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    background-color: #fada26; /* גוון צהוב */
    color: #333; /* צבע טקסט */
    cursor: pointer;
    transition: background-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
    position: fixed; /* מקבע את הכפתור למיקום יחסי למסך */
    bottom: 20px; /* מרחק של 20 פיקסלים מהחלק התחתון של המסך */
    right: 20px; /* מרחק של 20 פיקסלים מהחלק הימני של המסך */
}

.b34:hover {
    background-color: #f5d864; /* גוון צהוב בהיר יותר בעת העברת העכבר מעל הכפתור */
    color: #fff; /* שינוי צבע טקסט ללבן */
    transform: scale(1.1); /* הגדלת הכפתור */
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* הוספת צללה */
}

.b34:active {
    background-color: #c59402; /* גוון צהוב כהה יותר בעת לחיצה על הכפתור */
    color: #fff; /* שינוי צבע טקסט ללבן */
    transform: scale(0.95); /* הקטנת הכפתור */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* צללה קטנה יותר בעת לחיצה */
}